<h1>test</h1>

<!-- If user is loaded show the form, else show the loading template
<form *ngIf="meal; else loading" [formGroup]="form" (ngSubmit)="submit()">
  <label for="firstname">Name</label>
  <input formControlName="strMeal" />

  <label for="lastname">thumb</label>
  <input formControlName="strMealThumb" />

  <label for="about">Ingredient</label>
  <textarea formControlName="strIngredient1"></textarea>

  <button [disabled]="!form.valid">Save Profile</button>
</form>

<ng-template #loading> Loading User... </ng-template> -->

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="firstName">meal:</label>
    <input type="text" id="firstName" formControlName="strMeal" />

    <label for="lastName">thumbnail:</label>
    <input type="text" id="lastName" formControlName="strMealThumb" />

    <label for="lastName">Ingredient:</label>
    <input type="text" id="lastName" formControlName="strIngredient1" />

    <label for="lastName">Ingredient:</label>
    <input
      *ngIf="meal.strIngredient16 !== ''"
      type="text"
      id="lastName"
      formControlName="strIngredient16"
    />
  </div>

  <button type="submit">submit</button>
  <!-- Other form controls -->
</form>
